.br-chk {
  margin-top: 30px;
}
@media (min-width: 540px) {
  .br-section-wrapper {
     width:500px; 
  }
}

.br-section-wrapper {
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);

}
@media (min-width: 720px) {
  .br-section-wrapper {
    width:720px;
  }
}
@media (min-width: 960px) {
  .br-section-wrapper {
    padding: 10px;
    width:930px;
  }
@media (min-width: 1024px) {
  .br-section-wrapper {
    
    width:1010px;
  }
@media (min-width: 1035px) {
  .br-section-wrapper {
    
    width:1000px;
  }
}.




