/* change the background color */
.navbar-custom {
    background-color: #1D2939;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.navbar-custom-active{
color:#ffffff;
font-weight: bold;
border-bottom: 3px solid #4285F4;
	
}
.navbar-custom-imp{
color:#ffffff;
font-weight: bold;
background-color: #4285F4;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

}

.navbar-font{
color:#000000;

}

