/*---------LOGIN------------*/
.wrapper {
  margin-top: 140px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*--------------HEADER------------*/

.navbar{
margin: 5px 0px 10px 0px;
width: auto;
height: auto;
}

.logo img{
	float: left;
	vertical-align: top;
	width: 100px;
	height: 50px;
	margin: 1px 0px 10px 5px;
}
ul{
	float: left;
	display: flex;	
	padding: 10px 0px 10px 10px;
}
 
 ul li{
 	list-style: none;
 	text-align: center;
 	display: block;
 }
 
 ul li a{
 	padding: 0 4px;
 	display: block;
 }
 ul li a .icon{
 	
 	width: 40px;
 	height: 40px;
 	text-align: center;
 	margin: 0 auto 0px;

 }
 ul li a .icon .fa{
 	width: 100%;
 	height: 100%;
 	line-height: 40px;
 	font-size: 36px;
 	transition: 0.5s;
 	color: #8a8787;
 }

/*.navbar ul{
	float: left;
	margin-top: 10px;

}
.nav-item a{
	float: right;

 
}
.nav-item {
	float: right;
}
.nav-link{
	margin-left: 10px;
}
li{
	font-size: 18px;
	float: left;
}*/

/*--------Search Bar-----------*/

i{
	font-size: 40px;
	font-weight: bold;
}
.btn-default{
	background: orange;
	width: 120px;
	padding: 12.5px;
	border: 1px soild;
	opacity: 10%;
}
.form-control{
	padding: 25px;
	font-size: 20px;
	position: absolute;

  display: inline-block;
}
form{
	position: inherit;
	transform: translate(-0%,-0%);
	margin: 4px;
	display: block;
	padding: 10px;
}
.input-group{
	border: 2px;
	
	transform: translate(5%,-25%);
}
.container{
	margin-top: 250px;
}
.message p{
	font-size: 16px;
	margin: 10px 0px 10px 0px;

}
.modal-content form{
	padding: 1%;
	border: 0.5px solid #000;
	position: relative;
	display: block;
   box-sizing: border-box;
}
.modal-content{
	align-content: center;
}
 #submissions{
 	text-align: center;
 	padding: 14px 40px;
 	font-size: 24px;
 }

}
.modal-header{
	padding: 5px 5px 5px 5px;
}
.modal-header h4{
	text-align: center !important;
	float: center;
}
.modal-body input{
	width: 99%;
  padding: 2px;
  margin: 2px 2px 10px 2px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

hr.style3 {
	border-top: 2px dashed #8c8b8b;
}
