<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>KPCL</title>
	
	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_css.css')}}">
	
<style>
.feedback {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}
</style>
    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css">
	<link rel="stylesheet" href="../css/custom_css.css">-->
	 <script src="{{ url_for('static', filename='js/ej2.min.js')}}"></script>    
	   <!--<script src="../js/ej2.min.js" type="text/javascript"></script>-->
   
	<!-- Script for socketio -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	
  </head>

  <body >
  
  <div id="mybutton">
<button class="feedback">Feedback</button>
</div>

   <!-- ########## START: LEFT PANEL ########## -->
   <div class="br-logo"><a href=""><span></span>KPCL<span></span></a></div>
   <div class="br-sideleft overflow-y-auto">
     <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
     <div class="br-sideleft-menu">
       <a href="table-datatable3.html" class="br-menu-link">
         <div class="br-menu-item">
           <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>          
           <span class="menu-item-label">All Projects</span>
         </div><!-- menu-item -->
       </a><!-- br-menu-link -->
      
       <a href="live1.html" class="br-menu-link active show-sub">
         <div class="br-menu-item">
           <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
           <span class="menu-item-label">Compressor Test</span>
           <i class="menu-item-arrow fa fa-angle-down"></i>
         </div><!-- menu-item -->
       </a><!-- br-menu-link -->
       <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="http://10.21.4.90:5001/live1.html" class="nav-link active">Testbed 1 &nbsp;&nbsp;&nbsp;<i id='test_status' class="fa fa-circle" style="color: red;"></i></a></li>
       </ul>
 
 
 
 
       <a href="dashboard.html" class="br-menu-link ">
         <div class="br-menu-item">
           <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
           <span class="menu-item-label">Analytics</span>
           <i class="menu-item-arrow fa fa-angle-down"></i>
         </div><!-- menu-item -->
       </a><!-- br-menu-link -->
       <ul class="br-menu-sub nav flex-column">
         <li class="nav-item"><a href="dashboard.html" class="nav-link">Dashboard</a></li>
         <li class="nav-item"><a href="testbed1.html" class="nav-link active">Digital Twin</a></li>
         <li class="nav-item"><a href="cal_cert.html" class="nav-link ">Calibration Certificate</a></li>
         <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
         <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
         
       </ul>
       <a href="profile.html" class="br-menu-link">
         <div class="br-menu-item">
           <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
           <span class="menu-item-label">Profile Setting</span>
         </div><!-- menu-item -->
       </a><!-- br-menu-link -->
 
 
       <a href="contact.html" class="br-menu-link">
         <div class="br-menu-item">
           <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
           <span class="menu-item-label">Contact Us</span>
         </div><!-- menu-item -->
       </a><!-- br-menu-link -->
       
       
       
       
       
      
 
     </div>
   </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        
      </div><!-- br-header-left -->


     <!--div right side bar-->
     <div class="br-header-right">
      <div class="dropdown">
        <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
          <span class="logged-name hidden-md-down" id="user"></span>
          <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
          <span class="square-10 bg-success"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-header wd-200">
          <ul class="list-unstyled user-profile-nav">
            <li><a href=""><i class="icon ion-ios-person"></i> Edit Profile</a></li>
           
            <li><a href="login.html"><i class="icon ion-power"></i> Sign Out</a></li>
          </ul>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
     </div>
      <!--div right side end here-->
      
    </div><!-- br-sideright -->
    <!-- ########## END: RIGHT PANEL ########## --->

        <!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel">
      
      <div class="ht-1 bd bg-gray-100 pd-x-15 d-flex align-items-center justify-content-between mg-t-20">
    </div><!-- ht-65 -->


	  
      <div class="br-pagebody">
	
<nav class="navbar navbar-expand-md  navbar-dark bg-dark pd-x-10 pd-sm-x-20  pd-sm-t-10 ">   
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				 Views&nbsp;<span class="icon ion-grid"></span>
			</button>	
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">		
					<a href="live1.html" class="nav-item nav-link navbar-font ">Basic Info</a>
					<a href="live2.html" class="nav-item nav-link active navbar-custom-active" >Live Charts</a>
					<a href="live3.html" class="nav-item nav-link navbar-font">Flow View</a>
					<a href="live4.html" class="nav-item nav-link">Digital Twin</a>
					<a href="live5.html" class="nav-item nav-link navbar-font">Report View</a>
					<a href="live7.html" class="nav-item nav-link navbar-font">Alarms & Timeline</a>
					<a href="live8.html" class="nav-item nav-link navbar-font">Camera</a>
				</div>
			</div>
			<div class="btn-group pr-lg-5" role="group" >
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-play text-success" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo6"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-pause  text-warning" style="font-size:30px;" aria-hidden="true"data-toggle="modal" data-target="#modaldemo3"></i></a>
				 <a href="#" class="btn navbar-brand pr-1 pl-1 mr-1"><i class="fa fa-stop  text-danger" style="font-size:30px;" aria-hidden="true" data-toggle="modal" data-target="#modaldemo4"></i></a>
			</div>
			<div class="btn-group pl-lg-5" role="group" >
				<a href="live1.html"  class="btn btn-outline-light "><span class="fa fa-chevron-left"></span></a>
				<a href="live3.html"  class="btn btn-outline-light "><i class="fa fa-chevron-right"></i></a>
			</div>
		</nav>
	
        <div class="br-section-wrapper">
		   <!-- custom code start -->
             
										<div class="row">
		                                     <div class="col-lg-6 col-sm-12">
                                    
                                            <table id="table-sparkline" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th style="width:15%">Parameter</th>
                                                    <th style="width:15%">Value</th>
                                                    <th style="width:40%">Trend</th>
													<th style="width:20%">Source</th>

                                                </tr>
                                                </thead>
                                                <tbody id="tbody-sparkline">
												 

                                                <tr>
                                                    <th><b>Compr. Air Oil Temp.°C</b></th>
                                                    <td>
                                                        <div id="cpu"
                                                        >
                                                           
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <div align="center" class="spark" id="spark-container1">
                                                            <div style="color: #000000; font-size: 12px; position: absolute;">

                                                            </div>

                                                        </div>

                                                    </td>
                                                   
                                                    <td>Controller</td>
                                                </tr>

                                                <tr>
                                                    <th><b>Compr. Oil Pressure Kg/cm2</b></th>
                                                    <td>
                                                        <div id="disk">

                                                           
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <div align="center" class="spark" id="spark-container2">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>
                                                    </td>
                                                    
                                                    <td>Controller</td>
                                                </tr>


                                                <tr>
                                                    <th><b>Air Inlet Temp.°C</b></th>
                                                    <td>
                                                        <div id="memory"></div>
														
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container3">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>

                                                        </div>

                                                    </td>
                                                   
                                                    <td>Sensor</td>
                                                </tr>

                                                <tr>
                                                    <th><b>Downstream Pressure (mmH20)</b></th>
                                                    <td>
                                                        <div id="net"></div>
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container4">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>

                                                    </td>
                                                   
                                                    <td>Sensor</td>
                                                </tr>
												
												<tr>
                                                    <th><b>Current (A)</b></th>
                                                    <td>
                                                        <div id="extra1"></div>
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container_extra1">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>

                                                    </td>
                                                   
                                                    <td>M.F.Meter</td>
                                                </tr>
												
												<tr>
                                                    <th><b>Discharge Pressure Kg/cm2</b></th>
                                                    <td>
                                                        <div id="extra3"></div>
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container_extra3">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>

                                                    </td>
                                                   
                                                    <td>Controller</td>
                                                </tr>


                                                </tbody>


                                            </table>
                                        </div>
                                    
									
                                    <div class="col-lg-6 col-sm-12">
                                      
                                            

                                            <table id="table-sparkline" class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th style="width:15%">Parameter</th>
                                                    <th style="width:15%">Value</th>
                                                    <th style="width:40%">Trend</th>
													<th style="width:20%">Source</th>

                                                </tr>
                                                </thead>
                                                <tbody id="tbody-sparkline">
                                                <tr>
                                                    <th><b>Upstream Pressure (mmH20)</b></th>
                                                    <td>
                                                        <div id="cpu1">
                                                        
                                                        
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <div align="center" class="spark" id="spark-container5">
                                                            <div style="color: #000000; font-size: 12px; position: absolute;">

                                                            </div>

                                                        </div>

                                                    </td>
                                                   
                                                    <td>Sensor</td>
                                                </tr>

                                                <tr>
                                                    <th><b>FAD in m3/min</b></th>
                                                    <td>
                                                        <div id="disk1">
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <div align="center" class="spark" id="spark-container6">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>
                                                    </td>
                                                    
                                                    <td>Calculated</td>
                                                </tr>


                                                <tr>
                                                    <th><b>Condensate in m3/min</b></th>
                                                    <td>
                                                        <div id="memory1"></div>
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container7">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>

                                                        </div>

                                                    </td>
                                                   
                                                    <td>Calculated</td>
                                                </tr>

                                                <tr>
                                                    <th><b>Voltage (V)</b></th>
                                                    <td>
                                                        <div id="net1"></div>
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container8">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>

                                                    </td>
                                                   
                                                    <td>M.F. Meter</td>
                                                </tr>
												
												<tr>
                                                    <th><b>Input Power (KW)</b></th>
                                                    <td>
                                                        <div id="extra2"></div>
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container_extra2">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>

                                                    </td>
                                                   
                                                    <td>M.F.Meter</td>
                                                </tr>

												
												<tr>
                                                    <th><b>Unload Pressure</b></th>
                                                    <td>
                                                        <div id="extra4"></div>
                                                    </td>
                                                    <td>


                                                        <div align="center" class="spark" id="spark-container_extra4">
                                                            <div style="color: #000000; font-size: 12px; position: absolute; margin-top: 10px; margin-left: 8%;">

                                                            </div>


                                                        </div>

                                                    </td>
                                                   
                                                    <td>Controller</td>
                                                </tr>
												
												


                                                </tbody>


                                            </table>
                                        </div>
										</div><!--row-->
										
										
			
         

         
                                  
		  <div class='col-lg-2 col-3'>
        <h6 class="tx-gray-800 tx-bold tx-14 pl-2 pt-2">Current Status :</h6>
        </div>
        <div class='col-lg-12 col-12'>
        <input class="form-control" id='test_position' placeholder="" type="text" readonly>
        </div>
		 
		
          

         
		    
			  
		 
		  
		  
			


		  
        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2019.Cyronics. All Rights Reserved.</div>
         
         
        </div>
       
      </footer>
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->
	
	  <div id="modaldemo" class="modal fade effect-scale">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content bd-0 rounded-0">
          <div class="modal-body pd-0">
            <div class="row flex-row-reverse no-gutters">
              <div class="col-lg-6">
                <div class="pd-30">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="pd-xs-x-30 pd-y-10">
                    <h5 class="tx-xs-28 tx-inverse mg-b-5">Welcome back!</h5>
                    <p>No active tests Found. Please enter details to continue.</p>
                    <br>
                    <div class="form-group">
                      <input type="email" name="email" class="form-control pd-y-12" placeholder="Enter Test ID">
                    </div><!-- form-group -->
					
                    <div class="form-group ">
                      <input type="email" name="password" class="form-control pd-y-12" placeholder="Enter QA Incharge">
                    </div><!-- form-group -->
					
					<div class="form-group">
                      <input type="email" name="password" class="form-control pd-y-12" placeholder="Enter Test Incharge">
					  
                    </div><!-- form-group -->
					
					<div class="form-group">
					 <select class="form-control select2" data-placeholder="Model Choose">
						<option label="Choose model"></option>
						<optgroup label="Pacific Time Zone">
						  <option value="CA">California</option>
						  <option value="NV">Nevada</option>
						  <option value="OR">Oregon</option>
						  <option value="WA">Washington</option>
						</optgroup>
						<optgroup label="Mountain Time Zone">
						  <option value="AR">Arizona</option>
						  <option value="CO">Colorado</option>
						  <option value="ID">Idaho</option>
						  <option value="MO">Montana</option>
						</optgroup>
						<optgroup label="Central Time Zone">
						  <option value="AL">Alabama</option>
						  <option value="KA">Kansas</option>
						  <option value="KE">Kentucky</option>
						  <option value="OK">Oklahoma</option>
						</optgroup>
					  </select>
					   </div><!-- form-group -->
						
					
                    <button class="btn btn-primary pd-y-12 btn-block">Start</button>

                    
                  </div>
                </div><!-- pd-20 -->
              </div><!-- col-6 -->
              <div class="col-lg-6 bg-primary">
                <div class="pd-40">
                  <h4 class="tx-white mg-b-20"><span>[</span>  START TEST  <span>]</span></h4>
                  <p class="tx-white op-7 mg-b-60">Screw Compressor test-bed automation and analytics.</p>
                  
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->



    <div id="modaldemo3" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
            <div class="modal-body pd-0">
              <div class="row no-gutters">
                <div class="col-lg-6 bg-warning">
                  <div class="pd-40">
                    
                  <i class="fa fa-pause-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
            <h4 class="tx-white mg-b-20">Reason for Pause. Please select the department according to reason </h4>
            
          
                    
                   
                    </div>
                  </div><!-- col-6 -->
                  <div class="col-lg-6 bg-white">
                    <div class="pd-30">
                      <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="pd-x-30 pd-y-10">
                      <b>Please Select Department :</br></b>
                        <label class="ckbox">
                          <input type="checkbox">
                          <span>Quality</span>
                        </label>
                        <label class="ckbox">
                          <input type="checkbox">
                          <span>Management</span>
                        </label>
                        <label class="ckbox">
                          <input type="checkbox">
                          <span>Misc</span>
                        </label>
                        <label class="ckbox">
                          <input type="checkbox">
                          <span>Alarms</span>
                        </label><label class="ckbox">
                          <input type="checkbox">
                          <span>Testbed error</span>
                        </label>
                                                        
                        <div class="form-group">
                            Reason for pause
                          <input class="form-control ht-100 border-warning" placeholder="Details of pause" type="textarea">
                        </div><!-- form-group -->
                        
                       
                        <button onclick="pause();" class="btn btn-outline-warning pd-y-12 btn-block">Send for review </button>

                        <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                      </div>
                    </div><!-- pd-20 -->
                  </div><!-- col-6 -->
                </div><!-- row -->

              </div><!-- modal-body -->
            </div><!-- modal-content -->
          </div><!-- modal-dialog -->
        </div><!-- modal -->



        <div id="modaldemo4" class="modal fade">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                <div class="modal-body pd-0">
                  <div class="row no-gutters">
                    <div class="col-lg-6 bg-danger">
                      <div class="pd-40">
                        
                      <i class="fa fa-stop-circle tx-70 tx-white lh-1 mg-t-80 d-inline-block"></i>
                <h4 class="tx-white mg-b-20">Reason for stop. Please select the department according to reason </h4>
                
              
                        
                       
                        </div>
                      </div><!-- col-6 -->
                      <div class="col-lg-6 bg-white">
                        <div class="pd-30">
                          <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <div class="pd-x-30 pd-y-10">
                          <b>Please Select Department :</br></b>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Quality</span>
                            </label>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Management</span>
                            </label>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Misc</span>
                            </label>
                            <label class="ckbox">
                              <input type="checkbox">
                              <span>Alarms</span>
                            </label><label class="ckbox">
                              <input type="checkbox">
                              <span>Testbed error</span>
                            </label>
                                                            
                            <div class="form-group">
                                Reason for stop
                              <input class="form-control ht-100 border-danger" placeholder="Details of stop" type="textarea">
                            </div><!-- form-group -->
                            
                           
                            <button onclick="stop();" class="btn btn-outline-danger pd-y-12 btn-block">Stop Test</button>
    
                            <div class="mg-t-30 mg-b-20 tx-12">Incorrect? <a href="">Report to management</a></div>
                          </div>
                        </div><!-- pd-20 -->
                      </div><!-- col-6 -->
                    </div><!-- row -->
    
                  </div><!-- modal-body -->
                </div><!-- modal-content -->
              </div><!-- modal-dialog -->
            </div><!-- modal -->
    


            <div id="modaldemo6" class="modal fade">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content bd-0 bg-transparent rounded overflow-hidden">
                    <div class="modal-body pd-0">
                      <div class="row no-gutters">
                        <div class="col-lg-6 bg-primary">
                          <div class="pd-40">
                            
                            <p class="tx-white tx-13">
                              <span class="tx-uppercase tx-medium d-block mg-b-15"><!--type here--></span>
                                                  <h1 class="tx-white">[START TEST]</h1>
                              <span class="op-7 tx-white">Screw Compressor test-bed automation and analytics.</span></p>
                            </div>
                          </div><!-- col-6 -->
                          <div class="col-lg-6 bg-white">
                            <div class="pd-30">
                              <button type="button" class="close tx-40 tx-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <div class="pd-x-30 pd-y-10">
                                <b><h3 class="tx-inverse  mg-b-5">Welcome back!</h3></b>
                                <p>Test cannot be started from this page. Please go to basic details page for test start.</p>
                                <br>
                                
  
                                
                               
                                
                              </div>
                            </div><!-- pd-20 -->
                          </div><!-- col-6 -->
                        </div><!-- row -->
  
                      </div><!-- modal-body -->
                    </div><!-- modal-content -->
                  </div><!-- modal-dialog -->
                </div><!-- modal -->
  
    <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>

    <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>                  
  
      



    <!--main modal end here

    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>

    <script src="../js/bracket.js"></script>-->
    
	<script><!-- data source -->
	
window.orderdata = [{
    OrderID: 10248,
    CustomerID: "VINET",
    EmployeeID: 1,
    OrderDate: new Date(8364186e5),
    ShipName: "Vins et alcools Chevalier",
    ShipCity: "Reims",
    ShipAddress: "59 rue de l'Abbaye",
    ShipRegion: null,
    ShipPostalCode: "51100",
    ShipCountry: "France",
    Freight: 32.38,
    Verified: !0
}, {
    OrderID: 10249,
    CustomerID: "TOMSP",
    EmployeeID: 2,
    OrderDate: new Date(836505e6),
    ShipName: "Toms Spezialitäten",
    ShipCity: "Münster",
    ShipAddress: "Luisenstr. 48",
    ShipRegion: null,
    ShipPostalCode: "44087",
    ShipCountry: "Germany",
    Freight: 11.61,
    Verified: !1
}, {
    OrderID: 10250,
    CustomerID: "HANAR",
    EmployeeID: 3,
    OrderDate: new Date(8367642e5),
    ShipName: "Hanari Carnes",
    ShipCity: "Rio de Janeiro",
    ShipAddress: "Rua do Paço, 67",
    ShipRegion: "RJ",
    ShipPostalCode: "05454-876",
    ShipCountry: "Brazil",
    Freight: 65.83,
    Verified: !0
}, {
    OrderID: 10251,
    CustomerID: "VICTE",
    EmployeeID: 4,
    OrderDate: new Date(8367642e5),
    ShipName: "Victuailles en stock",
    ShipCity: "Lyon",
    ShipAddress: "2, rue du Commerce",
    ShipRegion: null,
    ShipPostalCode: "69004",
    ShipCountry: "France",
    Freight: 41.34,
    Verified: !0
}, {
    OrderID: 10252,
    CustomerID: "SUPRD",
    EmployeeID: 5,
    OrderDate: new Date(8368506e5),
    ShipName: "Suprêmes délices",
    ShipCity: "Charleroi",
    ShipAddress: "Boulevard Tirou, 255",
    ShipRegion: null,
    ShipPostalCode: "B-6000",
    ShipCountry: "Belgium",
    Freight: 51.3,
    Verified: !0
}, {
    OrderID: 10253,
    CustomerID: "HANAR",
    EmployeeID: 6,
    OrderDate: new Date(836937e6),
    ShipName: "Hanari Carnes",
    ShipCity: "Rio de Janeiro",
    ShipAddress: "Rua do Paço, 67",
    ShipRegion: "RJ",
    ShipPostalCode: "05454-876",
    ShipCountry: "Brazil",
    Freight: 58.17,
    Verified: !0
}, {
    OrderID: 10254,
    CustomerID: "CHOPS",
    EmployeeID: 7,
    OrderDate: new Date(8370234e5),
    ShipName: "Chop-suey Chinese",
    ShipCity: "Bern",
    ShipAddress: "Hauptstr. 31",
    ShipRegion: null,
    ShipPostalCode: "3012",
    ShipCountry: "Switzerland",
    Freight: 22.98,
    Verified: !1
}, {
    OrderID: 10255,
    CustomerID: "RICSU",
    EmployeeID: 8,
    OrderDate: new Date(8371098e5),
    ShipName: "Richter Supermarkt",
    ShipCity: "Genève",
    ShipAddress: "Starenweg 5",
    ShipRegion: null,
    ShipPostalCode: "1204",
    ShipCountry: "Switzerland",
    Freight: 148.33,
    Verified: !0
}, {
    OrderID: 10256,
    CustomerID: "WELLI",
    EmployeeID: 9,
    OrderDate: new Date(837369e6),
    ShipName: "Wellington Importadora",
    ShipCity: "Resende",
    ShipAddress: "Rua do Mercado, 12",
    ShipRegion: "SP",
    ShipPostalCode: "08737-363",
    ShipCountry: "Brazil",
    Freight: 13.97,
    Verified: !1
}, {
    OrderID: 10257,
    CustomerID: "HILAA",
    EmployeeID: 10,
    OrderDate: new Date(8374554e5),
    ShipName: "HILARION-Abastos",
    ShipCity: "San Cristóbal",
    ShipAddress: "Carrera 22 con Ave. Carlos Soublette #8-35",
    ShipRegion: "Táchira",
    ShipPostalCode: "5022",
    ShipCountry: "Venezuela",
    Freight: 81.91,
    Verified: !0
}, {
    OrderID: 10258,
    CustomerID: "ERNSH",
    EmployeeID: 11,
    OrderDate: new Date(8375418e5),
    ShipName: "Ernst Handel",
    ShipCity: "Graz",
    ShipAddress: "Kirchgasse 6",
    ShipRegion: null,
    ShipPostalCode: "8010",
    ShipCountry: "Austria",
    Freight: 140.51,
    Verified: !0
}, {
    OrderID: 10259,
    CustomerID: "CENTC",
    EmployeeID: 12,
    OrderDate: new Date(8376282e5),
    ShipName: "Centro comercial Moctezuma",
    ShipCity: "México D.F.",
    ShipAddress: "Sierras de Granada 9993",
    ShipRegion: null,
    ShipPostalCode: "05022",
    ShipCountry: "Mexico",
    Freight: 3.25,
    Verified: !1
}, {
    OrderID: 10260,
    CustomerID: "OTTIK",
    EmployeeID: 13,
    OrderDate: new Date(8377146e5),
    ShipName: "Ottilies Käseladen",
    ShipCity: "Köln",
    ShipAddress: "Mehrheimerstr. 369",
    ShipRegion: null,
    ShipPostalCode: "50739",
    ShipCountry: "Germany",
    Freight: 55.09,
    Verified: !0
}, {
    OrderID: 10261,
    CustomerID: "QUEDE",
    EmployeeID: 14,
    OrderDate: new Date(8377146e5),
    ShipName: "Que Delícia",
    ShipCity: "Rio de Janeiro",
    ShipAddress: "Rua da Panificadora, 12",
    ShipRegion: "RJ",
    ShipPostalCode: "02389-673",
    ShipCountry: "Brazil",
    Freight: 3.05,
    Verified: !1
}, {
    OrderID: 10262,
    CustomerID: "RATTC",
    EmployeeID: 15,
    OrderDate: new Date(8379738e5),
    ShipName: "Rattlesnake Canyon Grocery",
    ShipCity: "Albuquerque",
    ShipAddress: "2817 Milton Dr.",
    ShipRegion: "NM",
    ShipPostalCode: "87110",
    ShipCountry: "USA",
    Freight: 48.29,
    Verified: !0
}, {
    OrderID: 10263,
    CustomerID: "ERNSH",
    EmployeeID: 16,
    OrderDate: new Date(8380602e5),
    ShipName: "Ernst Handel",
    ShipCity: "Graz",
    ShipAddress: "Kirchgasse 6",
    ShipRegion: null,
    ShipPostalCode: "8010",
    ShipCountry: "Austria",
    Freight: 146.06,
    Verified: !0
}, {
    OrderID: 10264,
    CustomerID: "FOLKO",
    EmployeeID: 17,
    OrderDate: new Date(8381466e5),
    ShipName: "Folk och fä HB",
    ShipCity: "Bräcke",
    ShipAddress: "Åkergatan 24",
    ShipRegion: null,
    ShipPostalCode: "S-844 67",
    ShipCountry: "Sweden",
    Freight: 3.67,
    Verified: !1
}, {
    OrderID: 10265,
    CustomerID: "BLONP",
    EmployeeID: 18,
    OrderDate: new Date(838233e6),
    ShipName: "Blondel père et fils",
    ShipCity: "Strasbourg",
    ShipAddress: "24, place Kléber",
    ShipRegion: null,
    ShipPostalCode: "67000",
    ShipCountry: "France",
    Freight: 55.28,
    Verified: !0
}, {
    OrderID: 10266,
    CustomerID: "WARTH",
    EmployeeID: 19,
    OrderDate: new Date(8383194e5),
    ShipName: "Wartian Herkku",
    ShipCity: "Oulu",
    ShipAddress: "Torikatu 38",
    ShipRegion: null,
    ShipPostalCode: "90110",
    ShipCountry: "Finland",
    Freight: 25.73,
    Verified: !1
}, {
    OrderID: 10267,
    CustomerID: "FRANK",
    EmployeeID: 20,
    OrderDate: new Date(8385786e5),
    ShipName: "Frankenversand",
    ShipCity: "München",
    ShipAddress: "Berliner Platz 43",
    ShipRegion: null,
    ShipPostalCode: "80805",
    ShipCountry: "Germany",
    Freight: 208.58,
    Verified: !0
},

];
window.products = [
{
    id: 1,
    name: 'Product A',
    previousYear: 10,
    lastYear: 20
},
{
    id: 2,
    name: 'Product B',
    previousYear: 20,
    lastYear: 30
},
{
    id: 3,
    name: 'Product C',
    previousYear: 30,
    lastYear: 20
},
{
    id: 4,
    name: 'Product D',
    previousYear: 40,
    lastYear: 10
},
{
    id: 5,
    name: 'Product E',
    previousYear: 20,
    lastYear: 30
}
];

window.lineData = [
    [0, 6, 4, 1, 3, 2, 5],
    [5, 4, 6, 3, 1, 2, 0],
    [6, 4, 0, 3, 2, 5, 1],
    [4, 6, 3, 0, 1, 2, 5],
    [3, 5, 6, 4, 0, 1, 2],
    [1, 3, 4, 2, 5, 0, 6],
    [2, 4, 0, 3, 5, 6, 1],
    [5, 4, 6, 3, 1, 2, 1],
    [0, 6, 4, 1, 3, 2, 6],
    [6, 4, 0, 3, 2, 5, 2],
    [4, 6, 3, 0, 1, 2, 4],
    [3, 5, 6, 4, 0, 1, 3],
    [1, 3, 4, 2, 5, 0, 5],
    [2, 4, 0, 3, 5, 6, 2],
    [4, 4, 6, 3, 1, 2, 0],
    [1, 6, 4, 1, 3, 2, 5],
    [5, 4, 0, 3, 2, 5, 1],
    [5, 6, 3, 0, 1, 2, 5],
    [3, 4, 0, 3, 5, 6, 1],
    [4, 5, 6, 4, 0, 1, 2],
    [1, 3, 4, 2, 5, 0, 7]
];
window.columnData = [
    [0, 6, -4, 1, -3, 2, 5],
    [5, -4, 6, 3, -1, 2, 0],
    [6, 4, 0, 3, -2, 5, 1],
    [4, -6, 3, 0, 1, -2, 5],
    [3, 5, -6, -4, 0, 1, 2],
    [1, -3, 4, -2, 5, 0, 6],
    [2, 4, 0, -3, 5, -6, 1],
    [5, 4, -6, 3, 1, -2, 0],
    [0, -6, 4, 1, -3, 2, 5],
    [6, 4, 0, -3, 2, -5, 1],
    [4, 6, -3, 0, 1, 2, 5],
    [3, -5, -6, 4, 0, 1, 2],
    [1, 3, -4, -2, 5, 0, 6],
    [2, -4, 0, -3, 5, 6, 1],
    [5, 4, -6, 3, 1, -2, 0],
    [0, 6, 4, -1, -3, 2, 5],
    [6, -4, 0, -3, 2, 5, 1],
    [4, 6, -3, 0, -1, 2, 5],
    [6, 4, 0, -3, 2, -5, 1],
    [3, 5, 6, -4, 0, 1, 2],
    [1, 3, -4, 2, -5, 0, 6]
];
window.defaultSparkData = [
    { x: 0, xval: '2005', yval: 20090440, yval1: 32805040, yval2: 1306314000, yval3: 60656180, yval4: 82431390, yval5: 1080264000,  yval6: 143420300, yval7: 9001774, yval8: 60441460, yval9: 295734100, yval10: 2.61, yval11: 3.29, yval12: 136.12, yval13: 110.88, yval14: 230.89, yval15: 328.59, yval16: 8.4 , yval17: 20.01, yval18: 246.88, yval19: 30.71,  yval20: 1 , yval21: 1 , yval22: 1 ,  yval23: 1 , yval24: 0 , yval25: 1 , yval26: 1 , yval27: 1 , yval28: 1 , yval29: 1 , yval30: 12.26, yval31: 10.84, yval32: 13.14, yval33: 12.15, yval34: 8.33, yval35: 22.32, yval36: 9.8  , yval37: 10.36, yval38: 10.78, yval39: 14.14 },
    { x: 1, xval: '2006', yval: 20264080, yval1: 33098930, yval2: 1313974000, yval3: 60876140, yval4: 82422300, yval5: 1095352000,  yval6: 142893500, yval7: 9016596, yval8: 60609150, yval9: 298444200, yval10: 2.64, yval11: 3.31, yval12: 136.92, yval13: 111.28, yval14: 230.86, yval15: 333.18, yval16: 8.37, yval17: 20.04, yval18: 247.57, yval19: 30.99,  yval20: -1, yval21: -1, yval22: 1 ,  yval23: -1, yval24: 1 , yval25: -1, yval26: 0 , yval27: -1, yval28: 0 , yval29: -1, yval30: 12.14, yval31: 10.78, yval32: 13.25, yval33: 11.99, yval34: 8.25, yval35: 22.01, yval36: 9.95 , yval37: 10.27, yval38: 10.71, yval39: 14.14 },
    { x: 2, xval: '2007', yval: 20434180, yval1: 33390140, yval2: 1321852000, yval3: 63713930, yval4: 82400990, yval5: 1129866000,  yval6: 141377800, yval7: 9031088, yval8: 60776240, yval9: 301139900, yval10: 2.66, yval11: 3.34, yval12: 137.74, yval13: 99.02 , yval14: 230.8 , yval15: 343.68, yval16: 8.28, yval17: 20.07, yval18: 248.25, yval19: 30.65,  yval20: -1, yval21: -1, yval22: 1 ,  yval23: 1 , yval24: -1, yval25: 1 , yval26: -1, yval27: 0 , yval28: 0 , yval29: -1, yval30: 12.02, yval31: 10.75, yval32: 13.45, yval33: 12.91, yval34: 8.2 , yval35: 22.69, yval36: 10.92, yval37: 10.2 , yval38: 10.67, yval39: 14.16 },
    { x: 3, xval: '2008', yval: 21007310, yval1: 33212700, yval2: 1330045000, yval3: 64057790, yval4: 82369550, yval5: 1147996000,  yval6: 140702100, yval7: 9045389, yval8: 60943910, yval9: 303824600, yval10: 2.73, yval11: 3.33, yval12: 138.59, yval13: 99.56 , yval14: 230.71, yval15: 349.19, yval16: 8.24, yval17: 20.1 , yval18: 248.93, yval19: 30.92,  yval20: 1 , yval21: -1, yval22: 1 ,  yval23: -1, yval24: -1, yval25: -1, yval26: 1 , yval27: 0 , yval28: 0 , yval29: -1, yval30: 12.55, yval31: 10.29, yval32: 13.71, yval33: 12.73, yval34: 8.18, yval35: 22.22, yval36: 11.03, yval37: 10.15, yval38: 10.65, yval39: 14.18 },
    { x: 4, xval: '2009', yval: 21262640, yval1: 33487210, yval2: 1338613000, yval3: 64057790, yval4: 82329760, yval5: 1166079000,  yval6: 140041200, yval7: 9059651, yval8: 61113200, yval9: 307212100, yval10: 2.75, yval11: 3.35, yval12: 139.48, yval13: 99.56 , yval14: 230.6 , yval15: 354.73, yval16: 8.19, yval17: 20.12, yval18: 250.86, yval19: 31.26,  yval20: -1, yval21: -1, yval22: 1 ,  yval23: -1, yval24: -1, yval25: -1, yval26: 0 , yval27: 0 , yval28: 0 , yval29: 1 , yval30: 12.47, yval31: 10.28, yval32: 14   , yval33: 12.57, yval34: 8.18, yval35: 21.76, yval36: 11.1 , yval37: 10.13, yval38: 10.65, yval39: 13.82 },
    { x: 5, xval: '2010', yval: 21515750, yval1: 33759740, yval2: 1330141000, yval3: 64768390, yval4: 82282990, yval5: 1173108000,  yval6: 139390200, yval7: 9074055, yval8: 62348450, yval9: 310232900, yval10: 2.78, yval11: 3.38, yval12: 138.6 , yval13: 100.66, yval14: 230.47, yval15: 356.86, yval16: 8.15, yval17: 20.15, yval18: 255.94, yval19: 31.57,  yval20: -1, yval21: -1, yval22: -1,  yval23: -1, yval24: -1, yval25: -1, yval26: 0 , yval27: 0 , yval28: 1 , yval29: -1, yval30: 12.39, yval31: 10.28, yval32: 12.17, yval33: 12.43, yval34: 8.21, yval35: 21.34, yval36: 11.11, yval37: 10.14, yval38: 12.34, yval39: 13.83 },
    { x: 6, xval: '2011', yval: 21766710, yval1: 34030590, yval2: 1336718000, yval3: 65312250, yval4: 81471830, yval5: 1189173000,  yval6: 138739900, yval7: 9074055, yval8: 62698360, yval9: 313232000, yval10: 2.81, yval11: 3.41, yval12: 139.29, yval13: 101.45, yval14: 228.2 , yval15: 361.75, yval16: 8.11, yval17: 20.18, yval18: 257.37, yval19: 31.88,  yval20: -1, yval21: -1, yval22: 0 ,  yval23: -1, yval24: 1 , yval25: -1, yval26: 0 , yval27: 0 , yval28: 0 , yval29: -1, yval30: 12.33, yval31: 10.28, yval32: 12.29, yval33: 12.29, yval34: 8.3 , yval35: 20.97, yval36: 11.05, yval37: 10.18, yval38: 12.29, yval39: 13.83 },
    { x: 7, xval: '2012', yval: 22015580, yval1: 34300080, yval2: 1343240000, yval3: 65630690, yval4: 81305860, yval5: 1205074000,  yval6: 142517700, yval7: 9103788, yval8: 63047160, yval9: 313847500, yval10: 2.84, yval11: 3.44, yval12: 139.97, yval13: 101.94, yval14: 227.73, yval15: 366.59, yval16: 8.34, yval17: 20.22, yval18: 258.8 , yval19: 31.94,  yval20: -1, yval21: -1, yval22: -1,  yval23: 0 , yval24: 1 , yval25: -1, yval26: -1, yval27: 1 , yval28: -1, yval29: -1, yval30: 12.28, yval31: 10.28, yval32: 12.31, yval33: 12.72, yval34: 8.33, yval35: 20.6 , yval36: 10.94, yval37: 10.24, yval38: 12.27, yval39: 13.68 },
    { x: 8, xval: '2013', yval: 22262500, yval1: 34568210, yval2: 1349586000, yval3: 65951610, yval4: 81147260, yval5: 1220800000,  yval6: 142500500, yval7: 9119423, yval8: 63395580, yval9: 316668600, yval10: 2.88, yval11: 3.46, yval12: 140.63, yval13: 102.44, yval14: 227.29, yval15: 371.37, yval16: 8.33, yval17: 20.25, yval18: 260.23, yval19: 32.23,  yval20: -1, yval21: -1, yval22: -1,  yval23: -1, yval24: 1 , yval25: -1, yval26: 1 , yval27: 1 , yval28: 0 , yval29: -1, yval30: 12.23, yval31: 10.28, yval32: 12.25, yval33: 12.6 , yval34: 8.37, yval35: 20.24, yval36: 12.11, yval37: 10.33, yval38: 12.26, yval39: 13.66 },
    { x: 9, xval: '2014', yval: 22507620, yval1: 34834840, yval2: 1355693000, yval3: 66259010, yval4: 80996690, yval5: 1236345000,  yval6: 142470300, yval7: 9723809, yval8: 63742980, yval9: 318892100, yval10: 2.91, yval11: 3.49, yval12: 141.26, yval13: 102.92, yval14: 226.87, yval15: 376.1 , yval16: 8.33, yval17: 21.59, yval18: 261.66, yval19: 32.45,  yval20: -1, yval21: -1, yval22: -1,  yval23: -1, yval24: 1 , yval25: -1, yval26: -1, yval27: 1 , yval28: -1, yval29: -1, yval30: 12.19, yval31: 10.29, yval32: 12.17, yval33: 12.6 , yval34: 8.42, yval35: 19.89, yval36: 11.87, yval37: 11.92, yval38: 12.22, yval39: 13.42 }  
];
	
	</script>
<script><!--index.js-->
ej.base.enableRipple(window.ripple)

    // custom code start
    var liveload = function(args) {
        var livetheme = location.hash.split('/')[1];
        livetheme = livetheme ? livetheme : 'Material';
        args.sparkline.theme = (livetheme.charAt(0).toUpperCase() + livetheme.slice(1));
    };
    // custom code end
    var spark = new ej.charts.Sparkline({
            height: '50px',
            width: '90%',
            // custom code start
            load: liveload,
            // custom code end
            axisSettings: {
                minY: 0, maxY: 150
            },
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#0358a0',
                width: 1
            },
            fill: '#e8f2fc',
            type: 'Area',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
            xName: 'x', yName: 'yval'
    });
    spark.appendTo('#spark-container1');
    var temp1 = spark.dataSource.length - 1;
    function update(value) {
        if (spark.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 50;
            spark.dataSource.push({ x: ++temp1, yval: value });
            spark.dataSource.shift();
            spark.refresh();
            var cpu = document.getElementById('cpu');
            if (cpu) {
            // cpu.innerHTML = ((value / 150) * 100).toFixed(0) ;
			
            }
        }
    }
    
    var spark1 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start
            load: liveload,
            // custom code end
            lineWidth: 1,           
            containerArea: {
                background: 'white',
                
            },
            axisSettings: {
                minY: 4, maxY: 8
            },
            border: {
                color: '#0358a0',
                width: 1
            },
            type: 'Area',
            fill: '#e8f2fc',
            valueType: 'Numeric',
            xName: 'x', yName: 'yval',            
            dataSource: [               
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ]
    });
    spark1.appendTo('#spark-container2');
    var temp2 = spark1.dataSource.length - 1;
    function update1() {
        if (spark1.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 4) + 5) % 80;
            spark1.dataSource.push({ x: ++temp2, yval: value });
            spark1.dataSource.shift();
            spark1.refresh();
            var memory = document.getElementById('memory');
            var gb = parseFloat(value.toString().replace('0', '')).toFixed(1);
            if (memory) {
            // memory.innerHTML = ((value / 15.8) * 100).toFixed(0) ;
            }
        }
    }
    
    
    var spark2 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // cudtom code start
            load: liveload,
            // custom code end
            xName: 'x', yName: 'yval',            
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 130
            },            
            border: {
                color: '#27ad66',
                width: 1
            },
            containerArea: {
                background: 'white',
                
            },
            type: 'Area',
            fill: '#e0f9d1',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }       
            ]
    });
    spark2.appendTo('#spark-container3');
    var temp3 = spark2.dataSource.length - 1;
    function update2() {
        if (spark2.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark2.dataSource.push({ x: ++temp3, yval: value });
            spark2.dataSource.shift();
            spark2.refresh();
            var disk = document.getElementById('disk');
            if (disk) {
             // disk.innerHTML = value.toFixed(0) ;
            }
        }
    }
    //var time2 = setInterval(update2, 2000);
    
	var spark3 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#27ad66',
                width: 1
            },
            type: 'Area',
            fill: '#e0f9d1',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark3.appendTo('#spark-container4');
    var temp4 = spark3.dataSource.length - 1;
    function update4() {
        if (spark3.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark3.dataSource.push({ x: ++temp3, yval: value });
            spark3.dataSource.shift();
            spark3.refresh();
            var net = document.getElementById('net');
            if (net) {
            //net.innerHTML = value.toFixed(0) ;
            }
        }
    }
    //var time4 = setInterval(update4, 2000);
	
//---------------------------------------------------	

	var spark4 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#27ad66',
                width: 1
            },
            type: 'Area',
            fill: '#e0f9d1',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark4.appendTo('#spark-container5');
    var temp5 = spark4.dataSource.length - 1;
    function update5() {
        if (spark4.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark4.dataSource.push({ x: ++temp3, yval: value });
            spark4.dataSource.shift();
            spark4.refresh();
            var cpu1 = document.getElementById('cpu1');
            if (cpu1) {
            //cpu1.innerHTML =  value.toFixed(0) ;
            }
        }
    }
    //var time5 = setInterval(update5, 2000);
  
 //---------------------------------------------------	

	var spark5 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#AA907A',
                width: 1
            },
            type: 'Area',
            fill: '#F2D8C7',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark5.appendTo('#spark-container6');
    var temp6 = spark5.dataSource.length - 1;
    function update6() {
        if (spark5.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark5.dataSource.push({ x: ++temp3, yval: value });
            spark5.dataSource.shift();
            spark5.refresh();
            var disk1 = document.getElementById('disk1');
            if (disk1) {
            //disk1.innerHTML =  value.toFixed(0) ;
            }
        }
    }
    //var time6 = setInterval(update6, 2000);
   
   
   //---------------------------------------------------	

	var spark6 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#AA907A',
                width: 1
            },
            type: 'Area',
            fill: '#F2D8C7',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark6.appendTo('#spark-container7');
    var temp7 = spark6.dataSource.length - 1;
    function update7() {
        if (spark6.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark6.dataSource.push({ x: ++temp3, yval: value });
            spark6.dataSource.shift();
            spark6.refresh();
            var memory1 = document.getElementById('memory1');
            if (memory1) {
            //memory1.innerHTML =   value.toFixed(0) ;
            }
        }
    }
    //var time7 = setInterval(update7, 2000);
	
	//---------------------------------------------------	

	var spark7 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#d1b900',
                width: 1
            },
            type: 'Area',
            fill: '#fcf4b1',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark7.appendTo('#spark-container8');
    var temp8 = spark7.dataSource.length - 1;
    function update8() {
        if (spark7.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark7.dataSource.push({ x: ++temp3, yval: value });
            spark7.dataSource.shift();
            spark7.refresh();
            var net1 = document.getElementById('net1');
            if (net1) {
             //net1.innerHTML =  value.toFixed(0) ;
            }
        }
    }
    //var time8 = setInterval(update8, 2000);
	
	
	//---------------------------------------------------	

	var spark8 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#d1b900',
                width: 1
            },
            type: 'Area',
            fill: '#fcf4b1',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark8.appendTo('#spark-container_extra1');
    var temp9 = spark8.dataSource.length - 1;
    function update9() {
        if (spark8.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark8.dataSource.push({ x: ++temp3, yval: value });
            spark8.dataSource.shift();
            spark8.refresh();
            var extra1 = document.getElementById('extra1');
            if (extra1) {
            //extra1.innerHTML =  value.toFixed(0) ;
            }
        }
    }
    //var time9 = setInterval(update9, 2000);
	
	
	//---------------------------------------------------	

	var spark9 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#d1b900',
                width: 1
            },
            type: 'Area',
            fill: '#fcf4b1',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark9.appendTo('#spark-container_extra2');
    var temp10 = spark9.dataSource.length - 1;
    function update10() {
        if (spark9.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark9.dataSource.push({ x: ++temp3, yval: value });
            spark9.dataSource.shift();
            spark9.refresh();
            var extra2 = document.getElementById('extra2');
            if (extra2) {
            //extra2.innerHTML =  value.toFixed(0) ;
            }
        }
    }
    //var time10 = setInterval(update10, 2000);
	
	//---------------------------------------------------	

	var spark10 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#0358a0',
                width: 1
            },
            type: 'Area',
            fill: '#e8f2fc',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark10.appendTo('#spark-container_extra3');
    var temp11 = spark10.dataSource.length - 1;
    function update11() {
        if (spark10.element.className.indexOf('e-sparkline') > -1) {
            var value = ((Math.random() * 100) + 5) % 80;
            spark10.dataSource.push({ x: ++temp3, yval: value });
            spark10.dataSource.shift();
            spark10.refresh();
            var extra3 = document.getElementById('extra3');
            if (extra3) {
            //extra3.innerHTML =  value.toFixed(0) ;
            }
        }
    }
    //var time11 = setInterval(update11, 2000);
		
	//---------------------------------------------------	

	var spark11 = new ej.charts.Sparkline({
        height: '50px',
            width: '90%',
            // custom code start 
            load: liveload,
            // custom code end
            lineWidth: 1,
            axisSettings: {
                minY: 0, maxY: 120
            },
            xName: 'x', yName: 'yval',            
            containerArea: {
                background: 'white',
                
            },
            border: {
                color: '#AA907A',
                width: 1
            },
            type: 'Area',
            fill: '#F2D8C7',
            valueType: 'Numeric',
            dataSource: [
                { x: 0, yval: 0 },
                { x: 1, yval: 0 },
                { x: 2, yval: 0 },
                { x: 3, yval: 0 },
                { x: 4, yval: 0 },
                { x: 5, yval: 0 },
                { x: 6, yval: 0 },
                { x: 7, yval: 0 },
                { x: 8, yval: 0 },
                { x: 9, yval: 0 },
                { x: 10, yval: 0 },
                { x: 11, yval: 0 },
                { x: 12, yval: 0 },
                { x: 13, yval: 0 },
                { x: 14, yval: 0 },
                { x: 15, yval: 0 },
                { x: 16, yval: 0 },
                { x: 17, yval: 0 },
                { x: 18, yval: 0 },
                { x: 19, yval: 0 }
            ],
    });
	
    spark11.appendTo('#spark-container_extra4');
    var temp12 = spark11.dataSource.length - 1;
    function update12() {
        if (spark11.element.className.indexOf('e-sparkline') > -1) {
            var value = 110;
            spark11.dataSource.push({ x: ++temp3, yval: value });
            spark11.dataSource.shift();
            spark11.refresh();
            var extra4 = document.getElementById('extra4');
            if (extra4) {
            //extra4.innerHTML =  value.toFixed(0) ;
            }
        }
    }
    //var time12 = setInterval(update12, 2000);
	
       str1="User";
       document.getElementById("user").innerHTML=str1;
</script>


<script type="text/javascript">

var time ;
var time1 ;
var time2;
//var time3 = setInterval(update3, 2000);
var time4 ;
var time5 ;
var time6 ;
var time7;
var time8;
var time9;
var time10;
var time11;
var time12;

var socket = io.connect('http://'+document.domain+':'+location.port);

socket.on('connect', function() {
	 console.log('connected');
	 socket.emit('serverside','Connected')
   socket.emit('live2_load',"OK");
});

socket.on('test_status', function(data) {
   console.log("test_status_change");
   console.log(data);
   document.getElementById("test_status").style.color = data ;
     

});

socket.on('test_position', function(data) {
   console.log("test_position");
   console.log(data);
   document.getElementById("test_position").value= data['test_position'] ;
     

});

socket.on('live2_data_progress', function(data) {
   console.log("live2_data_progress");
   console.log(data);
   if (data == 1){
     time = setInterval(update, 2000); //cpu
     time1 = setInterval(update1, 2000);
     time2 = setInterval(update2, 2000);
    //var time3 = setInterval(update3, 2000);
     time4 = setInterval(update4, 2000);
     time5 = setInterval(update5, 2000);
     time6 = setInterval(update6, 2000);
     time7= setInterval(update7, 2000);
     time8 = setInterval(update8, 2000);
     time9 = setInterval(update9, 2000);
     time10 = setInterval(update10, 2000);
     time11 = setInterval(update11, 2000);
     time12 = setInterval(update12, 2000);
   }
if (data == 0){
clearInterval(time);
clearInterval(time1);
clearInterval(time2);
clearInterval(time4);
clearInterval(time5);
clearInterval(time6);
clearInterval(time7);
clearInterval(time8);
clearInterval(time9);
clearInterval(time10);
clearInterval(time11);
clearInterval(time12);

}
});

function pause() {
socket.emit('pause_test',"Pause");
}
function stop() {
socket.emit('stop_test',"Stop");
}

socket.on('measurable_params', function(data) {
  console.log(data)
  console.log('measurable_params received')
  document.getElementById('cpu').innerHTML = data['compressor_air_oil_temp'];
  document.getElementById('disk').innerHTML = data['compressor_air_oil_press'];
  document.getElementById('memory').innerHTML = data['air_inlet_temp'];
  document.getElementById('extra3').innerHTML = data['discharge_pressure'];
  document.getElementById('cpu1').innerHTML = data['upstream_pressure'];
  document.getElementById('net').innerHTML = data['downstream_pressure'];
  document.getElementById('net1').innerHTML = data['voltage'];
  document.getElementById('extra1').innerHTML = data['current'];
  document.getElementById('extra2').innerHTML = data['power'];
  document.getElementById('disk1').innerHTML = data['FAD'];
  document.getElementById('memory1').innerHTML = data['condensate'];
});

/*socket.on('message', function(data) {
	 console.log(data);
	 if ("AOS Tank Temp" in data ){
	 document.getElementById('cpu').innerHTML = data['AOS Tank Temp'];
	 }
	 if ("AOS Tank Pressure" in data ){
	 document.getElementById('disk').innerHTML = data['AOS Tank Pressure'];
	 }
	 if ("TEMP" in data ){
	 document.getElementById('memory').innerHTML = data['TEMP'];
	 console.log('OK')
	 }
	
	 if ("Unload Pressure" in data ){
	 console.log('OK')
	 document.getElementById('extra4').innerHTML = data['Unload Pressure'];
	 
	 }
	 if ("Voltage" in data ){
	 console.log('OK')
	 document.getElementById('net1').innerHTML = data['Voltage'];
	 
	 }
	 
	 if ("Current" in data ){
	 console.log('OK')
	 document.getElementById('extra1').innerHTML = data['Current'];
	 
	 }
	 
	 if ("Power" in data ){
	 console.log('OK')
	 document.getElementById('extra2').innerHTML = data['Power'];
	 
	 }
	 if ("DPT1" in data ){
	 console.log('OK')
	 document.getElementById('cpu1').innerHTML = data['DPT1'];
	 
	 }
	 if ("DPT2" in data ){
	 console.log('OK')
	 document.getElementById('net').innerHTML = data['DPT2'];
	 
	 }
	 if ("Discharge Pressure" in data ){
	 console.log('OK')
	 document.getElementById('extra3').innerHTML = data['Discharge Pressure'];
	 
	 }
	 
	 if ("FAD" in data ){
	 console.log('OK')
	 document.getElementById('disk1').innerHTML = data['FAD'];
	 
	 }
	 
	 if ("condensate" in data ){
	 console.log('OK')
	 document.getElementById('memory1').innerHTML = data['condensate'];
	 
	 }
	 
	 
	 
	 
	 
	 
	 
	 
	 
	
		

	 
});*/




function validate() {

}






</script>

    
	
	
  </body>
</html>
