<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/bracket/img/bracket-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracket">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracket/img/bracket-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Cyronics</title>

	<!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/Ionicons/css/ionicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/perfect-scrollbar/css/perfect-scrollbar.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/highlightjs/github.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/datatables/jquery.dataTables.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='lib/select2/css/select2.min.css')}}" rel="stylesheet">

	
    <!-- Bracket CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket.css')}}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/cust1.css')}}">
	
	
    <!-- vendor css 
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="../lib/highlightjs/github.css" rel="stylesheet">
    <link href="../lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Bracket CSS 
    <link rel="stylesheet" href="../css/bracket.css">
    <link rel="stylesheet" href="../css/cust1.css">-->
    <style>
	 .frame {
		overflow-x: auto;
		line-height: 1em;
	}

	.frame::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	.frame::-webkit-scrollbar:vertical {
		width: 5px;
	}

	.frame::-webkit-scrollbar:horizontal {
		height: 10px;
	}

	.frame::-webkit-scrollbar-thumb {
		border-radius: 5px;
		border: 2px solid white; /* should match background, can't be transparent */
		background-color: rgba(0, 0, 0, .2);
	}

	 </style> 

  
  </head>

  <body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="br-logo"><a href=""><span>[</span>Customer Logo<span>]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-15 mg-t-20">Navigation</label>
      <div class="br-sideleft-menu">
        

      <!--Current Projets-->
        <a href="#" class="br-menu-link active">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
            <span class="menu-item-label font-weight-bold tx-white">All Projects</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
       <!--End current project-->
      
       <!--compresser test code here-->
       <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-pie-graph tx-24"></i>
            <span class="menu-item-label">Compressor Test 
            </span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column ">
          <li class="nav-item"><a href="live1.html" class="nav-link ">Test1</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link ">Test2</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link ">Test3</a></li>
          <li class="nav-item"><a href="live1.html" class="nav-link ">Create New <i class=" fa fa-plus "></i></a></li>

       </ul>
<!--End Compresser test-->     
          
       </div>
       <!--End-->

      <!--Analytics-->
      <a href="#" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-24"></i>
            <span class="menu-item-label">Analytics</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="dashboard.html" class="nav-link active">Dashboard</a></li>
          <li class="nav-item"><a href="testbed1.html" class="nav-link">Digital Twin</a></li>
          <li class="nav-item"><a href="cal_cert.html" class="nav-link">Calibration Certificate</a></li>
          <li class="nav-item"><a href="r_table.html" class="nav-link">Recommendation</a></li>
          <li class="nav-item"><a href="model.html" class="nav-link">Model</a></li>
          
        </ul>
       <!--End Analytics-->


      


       <!--Profile Settings-->
        <a href="profile.html" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
            <span class="menu-item-label">Profile Settings</span>
          </div><!-- menu-item -->
        </a><!-- br-menu-link -->
        <!--End profile settings-->
        

        <a href="contact.html" class="br-menu-link ">
            <div class="br-menu-item">
              <i class="menu-item-icon fa fa-phone  fa-2x tx-20"></i>
              <span class="menu-item-label">Contact Us</span>
            </div><!-- menu-item -->
          </a><!-- br-menu-link -->
      </div><!--END-of-sideleft-menu -->
    </div><!-- br-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->
    <div class="br-header">
      <div class="br-header-left">
        <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href=""><i class="icon ion-navicon-round"></i></a></div>
        <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href=""><i class="icon ion-navicon-round"></i></a></div>
        
      </div><!-- br-header-left -->
     

      <div class="br-header-right mg-r-20">
          <div class="dropdown">
          <a href="" class="nav-link nav-link-profile" data-toggle="dropdown">
            <span class="logged-name hidden-md-down" id="user"></span>
            <img src="http://via.placeholder.com/64x64" class="wd-32 rounded-circle" alt="">
            <span class="square-10 bg-success"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-header wd-200">
            <ul class="list-unstyled user-profile-nav">
            
             
              <li><a href="login"><i class="icon ion-power"></i> Sign Out</a></li>
            </ul>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
		</div>  
		  
    </div><!-- br-header -->
	


   <!------start main page ------>
    <div class="br-mainpanel">
      <div class="br-pageheader  pd-l-20">
   
      </div><!-- br-pageheader -->
     
    <!--start page body here -->
      <div class="br-pagebody">
        <div class="br-section-wrapper">
          <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">SUMMARY</h6>
        
          <!--start table code here-->
		  
		  <div class='frame'>
		  <div class="table-wrapper" >
            <table id="datatable1" class="table display responsive nowrap">
              <thead class='thead-colored thead-dark'>
                <tr>
                  <th class="wd-15p">Machine ID</th>
                  <th class="wd-15p">Machine Type</th>
                  <th class="wd-20p">Testbed ID</th>
                  <th class="wd-15p">Completion %</th>
                  <th class="wd-10p">Status</th>
                  <th class="wd-25p">Action</th>
                </tr>
              </thead>
              <tbody>
			    <tr>
                  <td>11234556457</td>
                  <td>Screw Compressor KES </td>
                  <td>SC01</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-80p bg-teal"
					role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  35%
				  </td>
                  <td><a  href="#" class="border border-info tx-teal p-1 m-1">Success</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
              
			    <tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-30p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  15%
				  </td>
                  <td><a  href="#" class="border border-warning tx-warning p-1 m-1">Warning</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
				
				<tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-70p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  100%
				  </td>
                  <td><a  href="#" class="border border-info tx-teal p-1 m-1">Success</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
				
				<tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-70p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  100%
				  </td>
                  <td><a  href="#" class="border border-info tx-teal p-1 m-1">Success</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
				
				<tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-70p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  100%
				  </td>
                  <td><a  href="#" class="border border-info tx-teal p-1 m-1">Success</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
				
				<tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-70p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  100%
				  </td>
                  <td><a  href="#" class="border border-info tx-teal p-1 m-1">Success</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
				
				
				<tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-60p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  90%
				  </td>
                  <td><a  href="#" class="border border-danger tx-danger p-1 m-1">&nbsp;&nbsp;&nbsp;&nbsp;Fail&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
				
				
				    <tr>
                  <td>11234556457</td>
                  <td>Screw Compressor KES </td>
                  <td>SC01</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-80p bg-teal"
					role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  35%
				  </td>
                  <td><a  href="#" class="border border-info tx-teal p-1 m-1">Success</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
              
			    <tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-30p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  15%
				  </td>
                  <td><a  href="#" class="border border-warning tx-warning p-1 m-1">Warning</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
				
				<tr>
                  <td>123246553635</td>
                  <td>Screw Compressor Maxima</td>
                  <td>SC02</td>
                  <td>
				  <div class="progress">
				  <div class="progress-bar progress-bar wd-70p bg-teal"
					role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
				  <div>
				  100%
				  </td>
                  <td><a  href="#" class="border border-info tx-teal p-1 m-1">Success</a></td>
                  <td>
					<a  href="#" class="bg-info tx-white p-1 m-1">View</a>
					<a  href="#" class="bg-primary tx-white p-1 m-1">Edit </a>
					<a  href="#" class="bg-danger tx-white p-1 m-1">Delete</a>				  
				  </td>
                </tr>
			
              
			  
			  
              </tbody>
            </table>
          </div><!-- table-wrapper -->
		  </div>
		  <div>Please scroll to view the entire table on smaller screens</div>




        </div><!-- br-section-wrapper -->
      </div><!-- br-pagebody -->
      <footer class="br-footer">
          <div class="footer-left">
            <div class="mg-b-2">Copyright &copy; 2019. Cyronics. All Rights Reserved.</div>
            
          </div>
         
        </footer>
     
    </div><!-- br-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->


     <script src="{{ url_for('static', filename='lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/popper.js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/moment/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-ui/jquery-ui.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/jquery-switchbutton/jquery.switchButton.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/peity/jquery.peity.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/highlightjs/highlight.pack.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/datatables/jquery.dataTables.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/datatables-responsive/dataTables.responsive.js')}}"></script>
	<script src="{{ url_for('static', filename='lib/select2/js/select2.min.js')}}"></script>

	
     <script src="{{ url_for('static', filename='js/bracket.js')}}"></script>     

    <!--<script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="../lib/peity/jquery.peity.js"></script>
    <script src="../lib/highlightjs/highlight.pack.js"></script>
    <script src="../lib/datatables/jquery.dataTables.js"></script>
    <script src="../lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>

    <script src="../js/bracket.js"></script>-->
    <script>
     


     
                        
                





  
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          responsive: false,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });

      

      });
  



                      function abc(){
                                 var m="f2.csv";

                                 document.getElementById("f1").src=m;
                                  }



                      function def(){
                                 var m="M.xlsx";
                                 document.getElementById("f1").src=m;
                                   }

         
                                   str1="Hi, user !";
                                   document.getElementById("user").innerHTML=str1;
    </script>
  </body>
</html>
